<h1>Greetings, <%= @name %></h1>
<p>Time now is <%= formatted_time(@time) %></p>
<p>This page has been displayed <%= @times_displayed %> time(s)</p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>
